%for-btn{
  width: 180px!important;
  height: 45px!important;
  border-radius: 5px!important;
  color: white!important;
  border: 2px solid white!important;
  background-color: transparent!important;
}
%for-btn-1{
  width: 120px!important;
  height: 55px!important;
  border-radius: 5px;
  color: white!important;
  border: none!important;
}

  .navbar{
    .collapse{
      .navbar-nav{
        li,a{
          color: blue;
          margin-left: 20px;
        }
      }
    }
  }

.sec-1{
  background-color: #0f6674;
  .row{
    .col-sm-6{
      .card{
        background-color: #0f6674;
        border: none;
        .card-header{
          background-color: transparent;
          border: none;
          text-transform: uppercase;
          color: #EAE9E9;
          h1{
            font: {
              size: 50px;
            }
          }
          img{
            object-fit: cover;
            width: 130px;
            height: 130px;
          }
        }
        .card-body{
          margin-top: -20px;
          h1{
            color: #EAE9E9;
            font:{
              size: 50px;
            }
          }
          h5{
            margin-top: 35px;
            color: #eae9e9;
          }
        }
      }
    }
  }
}
.sec-2{
  .col-sm-4{
    .card{
      border: none;
      text-transform: uppercase;
      h1{
        font:{
          size: 50px;
        }
      }
      h2{
        font:{
          size: 55px;
        }
      }
    }
  }
}
.sec-3{
  .col-sm-10{
    .row{
      .col-sm-4{
        img{
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}
.sec-4{
  background-color: #0f6674;
  .row{
    .col-sm-6{
      .card{
        border: none;
        background-color: transparent;
        .card-header{
          background-color: transparent;
          border: none;
          text-transform: uppercase;
        }
        h1{
          color: #1d2124;
        }
        h2{
          font:{
            size: 48px;
          }
        }
        .card-body{
          .row{
            .col{
              p{
                color: white;
                font:{
                  size: 19px;
                }
              }
            }
          }
        }
        .card-footer{
          background-color: transparent;
          border: none;
        }
        .btn-1{
          @extend %for-btn
        }
      }
    }
  }
}
.sec-5{
    .col-sm-6{
      .card{
        background-color: transparent;
        border: none;
      }
      .card-header{
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        h2{
          font:{
            size: 48px;
          }
        }
      }
      .card-body{
        input{
          width: 500px;
          height: 60px;
          border: none;
          outline: none;
          border-bottom: 2px solid grey;
          font:{
            size: 22px;
          }
        }
        input::placeholder{
          border: none!important;
          outline: none!important;
        }
      }
      .card-footer{
        background-color: transparent;
        border: none;
      }
      .btn-2{
        @extend %for-btn-1
      }
    }
}
.foot-1{
  background-color: #1d2124;
  .row{
    .col-sm-3{
      .card{
        background-color: transparent;
        border: none;
        .card-header{
          background-color: transparent;
          border: none;
        }
        .card-body{
          img{
            width: 40px;
            height: 40px;
            margin-top: -30px;
          }
        }
      }
    }
    .col-sm-4{
      .card{
        background-color: transparent;
        border: none;
        .card-header{
          margin-top: -20px;
          background-color: transparent;
          border: none;
        }
        .card-body{
          margin-top: -20px;
        }
        .card-footer{
          margin-top: -20px;
          background-color: transparent;
          border: none;
          h6{
            color: #721c24;
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 600px) {
  .navbar{
    margin: auto;
    width: 95%;
  }
  .sec-1{
    width: 95%;
    margin: auto;
  }
  .sec-2{
    width: 90%;
  }
  .sec-3{
    margin: auto;
    width: 95%;
      .row{
        .col-sm-4{
          margin-top: 20px;
        }
      }
    }
  .sec-4{
    margin: auto;
    width: 95%;
  }
  .sec-5{
    margin-left: 0;
    width: 90%;
    .col-sm-6{
      margin: auto;
    .card{
      .card-body{
        form{
          label{
            input{
              width: 130%;
            }
          }
        }
      }
      .card-footer{
        width: 95%;
        margin: auto;
        .btn-2{
          width: 30%;
        }
      }
    }
    }
  }
  .foot-1{
    margin: auto;
    width: 95%;
  }
}

